.banner-container {
  background: #0020f6 url("https://www.specbee.com/themes/custom/specbee/assets/media/webp/billboard-bg-light.webp") no-repeat 50%;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
  padding-bottom: 6rem;
}
.banner__wrapper {
  max-width: 1120px;
  margin: auto;
  margin-bottom: 6rem;
  padding-top: 6rem;
  display: flex;
}
@media screen and (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
  }
}
.banner__img img {
  width: 500px;
  height: 500px;
}
.banner-head {
  font-size: 4.0625rem;
  margin-bottom: 0.5rem;
  color: #fff;
  padding-top: 3.5rem;
  text-transform: uppercase;
  line-height: 1;
  max-width: 700px;
}
.banner-text {
  color: #fff;
  margin: 0 auto 1.75rem;
  font-size: 20px;
}
.banner-btn {
  margin-top: 3.5rem;
}
.banner-link {
  background-color: #e3f307;
  border: 0.0625rem solid #e3f307;
  color: #0020f6;
  text-decoration: none;
  padding: 8px 40px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.banner-link:hover {
  background-color: #0020f6;
  border: 1px solid #e3f307;
  color: #e3f307;
}
.banner__pic img {
  max-width: 100%;
}
.banner__title-sec {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.125rem;
}
.banner__title-sec::after {
  background-color: #e3f307;
  content: "";
  display: block;
  height: 0.3125rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 3.75rem;
}
.banner-slider img {
  width: 200px;
}

.dark-bg {
  background: #0020f6 url("https://www.specbee.com/themes/custom/specbee/assets/media/webp/billboard-bg.webp") no-repeat 100% 100%;
  background-size: cover;
  height: 500px;
  padding-top: 6rem;
}
.dark-bg .banner__wrapper {
  margin: 0;
  padding: 0 20px;
  max-width: 1300px;
}
.dark-bg .banner-head {
  margin-bottom: 2.5rem;
  max-width: 1300px;
}