.insights {
  background-color: #0020f6;
  padding-top: 128px;
  margin-bottom: 10px;
}
.insights__heading {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .insights__heading {
    font-size: 2.8125rem;
  }
}
@media screen and (min-width: 1024px) {
  .insights__heading {
    font-size: 4.0625rem;
  }
}
@media screen and (min-width: 1440px) {
  .insights__heading {
    padding: 0;
    margin-left: -20px;
  }
}
.insights__heading::before {
  content: "";
  height: 0.75rem;
  width: 35px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
  margin-right: 1rem;
  background-color: #e3f307;
}
@media screen and (min-width: 1440px) {
  .insights__heading::before {
    content: "";
    height: 0.75rem;
    width: 80px;
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
    margin-right: 3rem;
    background-color: #e3f307;
  }
}
.insights__text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.65;
  padding: 40px 70px;
}
@media screen and (min-width: 1024px) {
  .insights__text {
    width: 560px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .insights__text {
    padding: 0 120px;
    margin-bottom: 70px;
    margin-top: 30px;
    width: 630px;
    font-size: 1.125rem;
  }
}
.insights__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5rem;
  max-width: 75rem;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .insights__wrapper {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
}
.insights__cards {
  background-color: #fff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .insights__cards {
    overflow: hidden;
  }
}
.insights__cards:hover {
  cursor: pointer;
}
.insights__cards:hover img {
  transform: scale(1.2);
  transition: all 0.25s ease-in-out;
}
.insights__content {
  padding: 20px;
}
.insights__title a {
  color: #0020f6;
  position: relative;
  width: 80%;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
}
.insights__title a::after {
  position: absolute;
  content: "";
  height: 0.25rem;
  width: 70px;
  display: inline-block;
  right: -88px;
  top: 5%;
  background-color: #e3f307;
}
@media screen and (min-width: 768px) {
  .insights__title a::after {
    right: -154px;
  }
}
@media screen and (min-width: 1024px) {
  .insights__title a::after {
    right: -94px;
  }
}
@media screen and (min-width: 1440px) {
  .insights__title a::after {
    right: -90px;
  }
}
.insights__desc {
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}